:root {
    --electric-blue: #90f1efff;
    --mimi-pink: #ffd6e0ff;
    --green-yellow: #ffef9fff;
    --mint-green: #c1fba4ff;
    --light-green: #7bf1a8ff;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    color: #333333;
    background-color: #bbfff0;
    opacity: 1;
    background-size: 17px 17px;
    background-image: repeating-linear-gradient(45deg, var(--mint-green) 0, var(--light-green) 1.7000000000000002px, #bbfff0 0, #bbfff0 50%);
}

.title {
    font-family: "Brush Script MT", cursive;
    font-size: 45px;
    text-align: center;
    background-color: #6bffdf;
    padding: 15px;
    margin: 0;
    color: #333333;
    border-bottom: solid 2px #333333;
}

div {
    display: inline-block;
    width: 70vw;
    text-align: left;
    position: relative;
    left: 30vw;
    margin: 0;
}

p {
    display: inline-block;
    max-width: 70vw;
    padding-left: 10px;
}

img {
    width: 30vw;
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #6BFFDF;
    position: fixed;
}

.sub-content-low .title {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 0;
}

footer {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100vw;
    background-color: #bbfff0;
    color: #333333;
    border-width: 5px 0 0 0;
    padding: 10px 0 5px;
    border-style: solid;
    border-color: #6BFFDF;
    border-width: 2px 0 0 0;
}

footer p {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    display: block;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #333333;
}